@import '../../assets/styles/helpers.scss';

$sideNavWidth: 200px;
$sideNavMargin: 30px;

.sideColumn {
  @include block;
  margin-top: 40px;
  margin-bottom: -20px;

  @include breakpoint(mobile, above) {
    position: absolute;
    top: 0;
    left: 0;
    width: $sideNavWidth;
    overflow-y: auto;
    padding-left: 20px;
    margin-top: 80px;
  }
}

.sideNav {
  position: relative;

  @include breakpoint(mobile, above) {
    position: fixed;
    top: $HEADER_HEIGHT + $H1_TOP_OFFSET;
    bottom: $FOOTER_HEIGHT;
    width: $sideNavWidth;
  }
}

.sideNavItem {
  @include block;
  @include headingFont($size: 18px);
  width: 100%;
  padding: 10px 0;
  color: $color1;

  &:not(:last-child) {
    border-bottom: dashed 1px $dark2;
  }

  &.active {
    color: $color2;
  }
}

.content {
  @include block;

  @include breakpoint(mobile, above) {
    margin-left: $sideNavWidth + $sideNavMargin;
  }
}
