@import '../../assets/styles/helpers';

$logoWidth: 50px;
$logoMarginRight: 15px;
$navItemMargin: 15px;

$itemOrder: (background: 10, nav: 15, logo: 20, hamburger: 0);
$itemOrderMobile: (nav: 10, background: 15, logo: 20, hamburger: 20);

.container {
  @include block;
  height: $HEADER_HEIGHT;
}

.content {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  height: $HEADER_HEIGHT;
  padding: 10px;
  background-color: $color1;
  color: $light1;
  z-index: map-get($itemOrder, background);

  &:before {
    content: '';
    @include block($position: absolute);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color1;
    z-index: map-get($itemOrderMobile, background);
  }
}

.logoLink {
  @include block($position: absolute);
  top: 0;
  left: 0;
  width: $logoWidth;
  padding: 10px;
}

.logo {
  @include block;
  width: $logoWidth;
  margin-right: $logoMarginRight;
  z-index: map-get($itemOrder, logo);

  @include breakpoint(mobile) {
    z-index: map-get($itemOrderMobile, logo);
  }
}

.nav {
  @include block;
  margin-left: $logoWidth + $logoMarginRight;
  z-index: map-get($itemOrder, nav);

  @include breakpoint(mobile) {
    @include block($position: absolute);
    top: 0;
    left: 0;
    right: 0;
    background-color: $color2;
    margin-left: 0;
    padding: 20px;
    padding-top: $HEADER_HEIGHT + 20px;
    z-index: map-get($itemOrderMobile, nav);
  }
}

.navItem {
  @include inlineBlock($verticalAlign: middle);
  @include headingFont($size: 18px, $spacing: 2px);
  color: $light1;
  border-bottom: solid 1px transparent;
  padding: 5px $navItemMargin;

  &:hover:not(.active) {
    color: darken($light1, 5%);
  }

  &.active {
    border-bottom-color: $light1;
  }

  @include breakpoint(mobile) {
    @include block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }
}

.hamburger {
  @include block($position: absolute);
  top: $HEADER_HEIGHT / 2;
  transform: translateY(-50%);
  right: 8px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: $color1;
  z-index: map-get($itemOrderMobile, hamburger);

  &.active {
    background-color: darken($color1, 10%);
  }

  @include breakpoint(mobile, above) {
    display: none;
    z-index: map-get($itemOrder, hamburger);
  }
}
