@import '../../assets/styles/helpers';

$logoWidth: 50px;
$logoMarginRight: 15px;
$navItemMargin: 15px;

.container {
  @include block;
  padding: 10px;
  background-color: $color1;
  color: $light1;
  height: $HEADER_HEIGHT;
}

.logoLink {
  position: absolute;
  top: 0;
  left: 0;
  width: $logoWidth;
  padding: 10px;
}

.logo {
  @include block;
  width: $logoWidth;
  margin-right: $logoMarginRight;
  z-index: 20;
}

.nav {
  @include block;
  margin-left: $logoWidth + $logoMarginRight;

  @include breakpoint(mobile) {
    display: none;
    position: absolute;
    top: $HEADER_HEIGHT;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $color2;
    margin-left: 0;
    padding: 20px;

    &.isOpen {
      display: block;
    }
  }
}

.navItem {
  @include inline-block($verticalAlign: middle);
  @include headingFont($size: 18px, $spacing: 2px);
  color: $light1;
  border-bottom: solid 1px transparent;
  padding: 5px $navItemMargin;

  &:hover:not(.active) {
    color: darken($light1, 5%);
  }

  &.active {
    border-bottom-color: $light1;
  }

  @include breakpoint(mobile) {
    @include block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: transparent;

  &.active {
    background-color: rgba($dark1, 0.2);
  }

  @include breakpoint(mobile, above) {
    display: none;
  }
}
