@import '../../assets/styles/helpers';

$logoWidth: 50px;
$logoMarginRight: 15px;
$navItemMargin: 15px;

.container {
  @include block;
  padding: 10px;
  background-color: $color1;
  color: $light1;
  height: $HEADER_HEIGHT;
}

.logoLink {
  position: absolute;
  top: 0;
  left: 0;
  width: $logoWidth;
  padding: 10px;
}

.logo {
  @include block;
  width: $logoWidth;
  margin-right: $logoMarginRight;
}

.nav {
  @include block;
  margin-left: $logoWidth + $logoMarginRight;
}

.navItem {
  @include inline-block($verticalAlign: middle);
  @include headingFont($size: 18px, $spacing: 2px);
  color: $light1;
  border-bottom: solid 1px transparent;
  padding: 5px $navItemMargin;

  &:hover:not(.active) {
    color: darken($light1, 5%);
  }

  &.active {
    border-bottom-color: $light1;
  }
}
