<header class="container">
  <a class="logoLink" [routerLink]="homeRoute.path">
    <img src="../../assets/img/logo.svg" class="logo" />
  </a>
  <button
    class="hamburger"
    (click)="toggleNavOpen()"
  >
    <i class="icon light1">menu</i>
  </button>
  <nav
    class="nav"
    [ngClass]="{ isOpen: navIsOpen }"
    (appclickOutside)="toggleNavOpen(false)"
  >
    <a
      class="navItem"
      *ngFor="let navRoute of navRoutes"
      [routerLink]="navRoute.path"
      routerLinkActive="active"
    >
      {{ navRoute.data.label }}
    </a>
  </nav>
</header>
