@import '../../../assets/styles/helpers.scss';

.container {
  @include flexContainer($justifyContent: center);
  @include headingFont($size: 14px);
  height: $FOOTER_HEIGHT;
  padding: 0 10px;
  text-align: center;
  background-color: $dark1;
  color: $light1;
}

.content {
  @include flexChild;
}

.linkA {
  color: $color5;

  &:hover {
    color: darken($color5, 5%);
  }
}

.linkB {
  color: $color2;

  &:hover {
    color: darken($color2, 5%);
  }
}

.version {
  font-size: 10px
}
