<footer class="container">
  <div class="content">
    <div class="section">
      <a class="github linkMain sizeMd" href="https://github.com/AaronLeoCooper/angular-guidebook" target="_blank">
        <span class="githubText">Want to Feedback/Contribute?</span>
        <img class="githubImg" src="../../assets/img/GitHub-Mark-Light-32px.png" />
      </a>
    </div>
    <div class="section">
      <div class="sizeSm">
        Created by
        <a class="linkSub" href="http://webdevdiaries.com" target="_blank">Aaron Cooper</a>
        @
        <a class="linkSub" href="http://www.2359media.com" target="_blank">2359Media</a>
      </div>
      <span class="version">{{ projectVersion }}</span>
    </div>
  </div>
</footer>
