@import '../../../assets/styles/helpers.scss';

.container {
  @include flexContainer($justifyContent: center);
  @include headingFont($size: 14px);
  height: $FOOTER_HEIGHT;
  padding: 0 10px;
  text-align: center;
  background-color: $dark1;
  color: $light1;

  @include breakpoint(mobile) {
    height: $FOOTER_HEIGHT_MOBILE;
  }
}

.content {
  @include flexChild;
}

.section {
  margin: 12px 0;
}

.linkMain {
  color: $light1;

  &:hover {
    color: darken($light1, 10%);
  }
}

.linkSub {
  color: $color5;

  &:hover {
    color: darken($color5, 5%);
  }
}

.sizeSm {
  font-size: 12px;
}

.sizeMd {
  font-size: 16px;
}

.version {
  font-size: 10px
}

.github {
  @include inlineBlock();
  padding: 5px;
}

.githubText,
.githubImg {
  @include inlineBlock();
  vertical-align: middle;
}

.githubImg {
  width: 24px;
  height: 24px;
  margin-left: 4px;

  @include breakpoint(mobile) {
    display: block;
    margin: 4px auto;
  }
}
