@import '../assets/styles/helpers';

.container {
  @include flexContainer;
  min-height: 100vh;
}

.header,
.footer {
  z-index: 10;
}

.content {
  @include flexChild($grow: 1, $shrink: 1);
  width: 100%;
  max-width: 980px;
  padding: 0 20px 60px;
  margin: 0 auto;
  z-index: 1;
}
