@import '../../assets/styles/helpers.scss';

.container {
  @include block;
  @include headingFont($size: 14px);
  background-color: $dark1;
  color: $light1;
  text-align: center;
  padding: 20px 0;
}

.link {
  color: $color5;
}
