@import '../../assets/styles/helpers.scss';

.container {
  @include flexContainer($justifyContent: center);
  @include headingFont($size: 14px);
  height: $FOOTER_HEIGHT;
  padding: 0 10px;
  text-align: center;
  background-color: $dark1;
  color: $light1;
}

.content {
  @include flexChild;
}

.link {
  color: $color5;
}

.version {
  font-size: 10px
}
