/* Reusable SCSS mixins & functions */

$breakpoints: (
  mobile : 767px,
  tablet : 991px,
  desktop : 1199px
);

@mixin breakpoint($breakpoint, $type: below) {
  $width: map-get($breakpoints, $breakpoint);

  @if $type == below {
    @media (max-width: $width) {
      @content;
    }
  }
  @else {
    @media (min-width: $width + 1) {
      @content;
    }
  }
}

@mixin block($position: relative, $display: block) {
  position: $position;
  display: $display;
  box-sizing: border-box;
}

@mixin inline-block($position: relative, $verticalAlign: false) {
  @include block($position, $display: inline-block);

  @if $verticalAlign != false {
    vertical-align: $verticalAlign;
  }
}

@mixin font($family: 'Arial', $fallbackFamily: 'sans serif', $weight: normal, $size: false, $lineHeight: false, $spacing: normal) {
  font-family: $family, $fallbackFamily;
  font-weight: $weight;

  @if $size != false {
    font-size: $size;
  }

  @if $lineHeight != false {
    line-height: $lineHeight;
  }

  @if $spacing != false {
    letter-spacing: $spacing;
  }
}

@mixin headingFont($weight: normal, $size: false, $lineHeight: normal, $spacing: 1px) {
  @include font($family: 'Nunito', $fallbackFamily: 'sans serif', $weight: $weight, $size: $size, $lineHeight: $lineHeight, $spacing: $spacing);
  text-transform: uppercase;
}

@mixin bodyFont($weight: normal, $size: false, $lineHeight: false, $spacing: normal) {
  @include font($family: 'Nunito', $fallbackFamily: 'serif', $weight: $weight, $size: $size, $lineHeight: $lineHeight, $spacing: $spacing);
}

@mixin iconFont($size: 24px) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $size;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  // Support for all WebKit browsers
  -webkit-font-smoothing: antialiased;

  // Support for Safari and Chrome
  text-rendering: optimizeLegibility;

  // Support for Firefox
  -moz-osx-font-smoothing: grayscale;

  // Support for IE
  font-feature-settings: 'liga';
}

@mixin flexContainer($direction: column, $wrap: nowrap, $justifyContent: flex-start, $alignContent: stretch, $alignItems: stretch) {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justifyContent;
  align-content: $alignContent;
  align-items: $alignItems;
}

@mixin flexChild($grow: 0, $shrink: 1, $baseSize: auto) {
  position: relative;
  box-sizing: border-box;
  order: 0;
  flex: $grow $shrink $baseSize;
  align-self: auto;
}
